{% extends "blog/base.html" %} <!-- This template extends the base template, which includes all of the boilerplate head code and the html and body tags. Notice again we don't need to include /templates int he filepath as Django knows to lok in this directory by default -->
{% block content %} <!-- We encase the content specific to this page within the code blocks used in the parent tempalte, to indicate where the content should live on the page -->
    <!-- Below is an example of using context data in code blocks within an html template. 'posts' is the key in the context object that is being passed from views.py -->
    {% for post in posts%}  <!-- Similar to PHP, we use code blocks to indicate where lops, if/else blocks etc. should be in the code, and write HTML inside these blocks -->
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> <!-- Note the syntax and objects used to dynmaically display the author's image -->
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> <!-- Note the use of a Django filter to amend the date format here -->
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2> <!-- Notice the syntax used to pass the primary key as part of the path for the link to the blog details page -->
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock %}