{% extends "blog/base.html" %} <!-- This template extends the base template from the blogs app directory , which includes all of the boilerplate head code and the html and body tags. Notice again we don't need to include /templates int he filepath as Django knows to lok in this directory by default -->
{% block content %} <!-- We encase the content specific to this page within the code blocks used in the parent tempalte, to indicate where the content should live on the page -->
    <!-- Below is an example of using context data in code blocks within an html template. 'posts' is the key in the context object that is being passed from views.py -->
    <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!-- This tag needs to be inserted into a template whenever using a Django form -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete the post {{ object.title }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}